#history {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.buttons {
    margin: .2rem;
}

#fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.whatever, #mainContent {
    margin: 1rem;
    padding: .5rem;
    background-color: lightblue;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.whatever {
    min-width: 8rem;
}