#history {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.buttons {
    margin: .2rem;
}

/* Need to get my 5 day forecast to align horizontally and put some background colors to get icon to display properly */